---
layout: default
---

<div id="carouselHomePage" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="assets/images/photos/20190923_1537.jpg" class="d-block w-100" alt="">
    </div>
    <div class="carousel-item">
      <img src="assets/images/photos/20190921_1421.jpg" class="d-block w-100" alt="">
    </div>
    <div class="carousel-item">
      <img src="assets/images/photos/20191110_1052.jpg" class="d-block w-100" alt="">
    </div>
    <div class="carousel-item">
      <img src="assets/images/photos/20191111_1202.jpg" class="d-block w-100" alt="">
    </div>
    <div class="carousel-item">
      <img src="assets/images/photos/20191124_1713.jpg" class="d-block w-100" alt="">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselHomePage" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselHomePage" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<div class="jumbotron">
  <h1 class="display-4">Buckeye Gaming Collective</h1>
  <p class="lead">
    Your hub for gaming at The Ohio State University.  Nationally ranked teams in League of Legends, 
    Rocket League, Overwatch, and more with a community of casual gamers!
  </p>
  <hr/>
  <a class="btn btn-primary btn-lg my-2 mr-2" href="https://discord.gg/ohiostate" role="button">
    <i class="faw fab fa-discord"></i> Discord
  </a>
  <a class="btn btn-primary btn-lg my-2  mr-2" href="https://twitter.com/osubgc" role="button">
    <i class="faw fab fa-twitter"></i> Twitter
  </a>
  <a class="btn btn-primary btn-lg my-2  mr-2" href="https://twitch.tv/osubgc" role="button">
    <i class="faw fab fa-twitch"></i> Twitch
  </a>
  <a class="btn btn-primary btn-lg my-2  mr-2" href="https://instagram.com/osubgc" role="button">
    <i class="faw fab fa-instagram"></i> Instagram
  </a>
  <a class="btn btn-secondary btn-lg my-2  mr-2" href="{{ '/about/constitution.html' | prepend: site.url }}" role="button">
    <i class="faw fas fa-scroll-old"></i> Constitution
  </a>
  <a class="btn btn-secondary btn-lg my-2  mr-2" href="{{ '/results.html' | prepend: site.url }}" role="button">
    <i class="faw fas fa-whistle"></i> Current Results
  </a>
</div>
