<hr/>

<footer>
  <div class="container">
  <i class="far fa-copyright"></i> 2020
  | Content: <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/" target="_blank" rel="noreferrer" aria-label="Creative Commons Attribution NonCommercial ShareAlike 4.0 International">
        <i class="fab fa-creative-commons"></i>
        <i class="fab fa-creative-commons-by"></i>
        <i class="fab fa-creative-commons-nc"></i>
        <i class="fab fa-creative-commons-share"></i>
      </a>
  | Code: <a href="http://www.gnu.org/licenses/agpl-3.0.en.html" target="_blank" rel="noreferrer">AGPLv3</a>
  | Source: <a href="https://gitlab.com/osubgc/osubgc.gitlab.io" target="_blank" rel="noreferrer" aria-label="GitLab"><i class="fab fa-gitlab"></i></a>
  </div>
</footer>
</div>