<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-162843890-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-162843890-1');
    </script>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="Content-Language" content="en">

    <link rel="apple-touch-icon" sizes="180x180" href="/assets/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="194x194" href="/assets/icons/favicon-194x194.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/assets/icons/android-chrome-192x192.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/icons/favicon-16x16.png">
    <link rel="manifest" href="/assets/icons/site.webmanifest">
    <link rel="mask-icon" href="/assets/icons/safari-pinned-tab.svg" color="#666666">
    <link rel="shortcut icon" href="/assets/icons/favicon.ico">
    <meta name="msapplication-TileColor" content="#666666">
    <meta name="msapplication-config" content="/assets/icons/browserconfig.xml">
    <meta name="theme-color" content="#666666">

    <meta property="og:image" content="/assets/icons/og-image.jpg">
    <meta property="og:image:width" content="280">
    <meta property="og:image:height" content="280">

    {% seo %}
    
    <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/darkly/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">

    <style type="text/css">
        body {
          padding-top: 5.5rem;
          padding-bottom: 1rem;
          /*background-blend-mode: color-dodge;*/
          background-size: 20em;
        }
        :target:before, .thumbnail:before {
          content: "";
          display: block;
          height: 6rem; /* fixed header height*/
          margin: -6rem 0 0; /* negative fixed header height */
        }

        nav {
          /*background-blend-mode: color-dodge;*/
          background-size: 20em;
        }
        
        .navbar-brand>.avatar {
          border-radius: 2px;
        }

        .container a:not(.btn) {
          color: #bb0000;
          font-weight: bold;
        }
        
        footer {
          background-color: rgba(20, 20, 20, .75);
        }

        .main-content {
          background-color: rgba(20, 20, 20, .75);
          padding: 1em;
          border-radius: 1em;
        }

        @media print { 
          body { 
            color: black;
          } 
        }         
    </style>

    <script defer async src="https://kit.fontawesome.com/43e77cfa1c.js"></script>
    <link rel="preconnect" href="https://kit-pro.fontawesome.com/">

    <link rel="stylesheet" href="https://vjs.zencdn.net/7.8.4/video-js.min.css">
  </head>
  <body>
