    <script defer src="https://code.jquery.com/jquery-3.5.1.slim.min.js" crossorigin="anonymous"></script>
    <script defer src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/geopattern/1.2.3/js/geopattern.min.js" crossorigin="anonymous"></script>

    <script src="https://vjs.zencdn.net/7.8.4/video.min.js"></script>

    <script>
      window.addEventListener("load", function() {
        $('[data-toggle="tooltip"]').tooltip();
      });

      document.addEventListener("DOMContentLoaded", function () {
        var backgroundPattern = GeoPattern.generate('bgc', {
          color: '#300000',
          generator: 'plusSigns'
        });
        
        document.body.style.backgroundImage = backgroundPattern.toDataUrl();
      });
    </script>
  </body>
</html>
