<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark" id="navbar-header">
    <a class="navbar-brand" href="{{ '/' | prepend: site.url }}">
        <svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 828 752.52"
            width="30" 
            height="30"
            class="d-inline-block align-top mr-1" 
            style="border-radius: 5px;">
            {% assign logo-colors=include.logo-colors | default: page.logo-colors | default: site.logo-colors %}
            {% include osubgc-logo-inner.svg colors=logo-colors %}
        </svg>

        <div class="d-md-none d-inline">{{ site.short-title }}</div>
        <div class="d-none d-md-inline">{{ site.title }}</div>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{{ '/' | prepend: site.url }}">Home</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLinkAbout" role="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    About
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLinkAbout">
                    <a class="dropdown-item" href="{{ '/about/index.html' | prepend: site.url }}">About Us</a>
                    <a class="dropdown-item"
                        href="{{ '/about/constitution.html' | prepend: site.url }}">Constitution</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ '/results.html' | prepend: site.url }}">Results</a>
            </li>
        </ul>
        <ul class="navbar-nav my-2 my-lg-0">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLinkSocialMedia" role="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Social Media
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLinkSocialMedia">
                    <a class="dropdown-item" href="https://discord.gg/ohiostate">
                        <i class="faw fab fa-discord"></i> Discord
                    </a>
                    <a class="dropdown-item" href="https://twitter.com/osubgc">
                        <i class="faw fab fa-twitter"></i> Twitter
                    </a>
                    <a class="dropdown-item" href="https://twitch.tv/osubgc">
                        <i class="faw fab fa-twitch"></i> Twitch
                    </a>
                    <a class="dropdown-item" href="https://instagram.com/osubgc">
                        <i class="faw fab fa-instagram"></i> Instagram
                    </a>
                </div>
            </li>
        </ul>
    </div>
</nav>
