<script src="https://cdnjs.cloudflare.com/ajax/libs/mermaid/8.5.1/mermaid.min.js"></script>

<style>
  .mermaid > svg {
    height: unset;
    width: unset;
  }
</style>

<div class="mermaid" id="osubgc-structure" style="background-color:#525252; height: max-content;">
  graph LR
    subgraph E-Board
      President --> dir-of-comp-manage[Director of Competitive Management]
      President --> dir-of-community-manage[Director of Community Management]
      President --> dir-of-pr[Director of PR & Diversity]

      Treasurer --> dir-of-sponsor[Director of Sponsorships]
    end

    subgraph Minor-Board[Minor Board]
      subgraph 1
        subgraph Competitive
          dir-of-comp-manage --> team-manage[Team Managers]
        end

        subgraph Community
          dir-of-community-manage --> community-manage[Community Managers]
        end

        subgraph PR-Diversity[PR & Diversity]
          dir-of-pr --> broadcast-tech-chair[Broadcast Technology Chair]
          dir-of-pr --> broadcast-management-chair[Broadcast Management Chair]
          dir-of-pr --> social-chair[Social Media Chair]
          dir-of-pr --> graphic-chair[Graphic Design Chair]
          dir-of-pr --> phil-chair[Philanthropy Chair]
          dir-of-pr --> diversity-chair[Diversity & Inclusion Chair]
          dir-of-pr --> content-chair[Content Chair]
        end

        subgraph Fundraising
          dir-of-sponsor --> fund-chair[Fundraising Chair]
        end
      end
    end

    subgraph Committees
      subgraph 2
        subgraph Treasurer-Committees[Treasurer Committees]
          fund-chair --> fund-commit[Fundraising Committee]
        end

        subgraph Team-Managers[Team Managers]
          team-manage --> Teams
          team-manage --> Coaches
          team-manage --> Analysts
        end

        subgraph Community-Managers[Community Managers]
          community-manage --> community-manage-commit[Community Management Committee]
        end

        subgraph Broadcast
          broadcast-tech-chair --> broadcast-commit[Broadcast Committee]
          broadcast-management-chair --> broadcast-commit
        end

        subgraph Social-Media["Social Media"]
          social-chair --> social-media-commit[Social Media Committee]
        end

        subgraph Graphics
          graphic-chair --> graphic-commit[Graphic Design Committee]
        end

        subgraph Diversity
          diversity-chair --> translation[Translation Committee]
        end

        subgraph Content
          content-chair --> content-commit[Content Committee]
        end
      end
    end

  classDef default fill:#d1d1d1,stroke:#3d3d3d,stroke-width:2px,font-weight:bolder,font-size:14px,line-height:25px;

  classDef eboard fill:#9db8db,stroke:#758dac;
  classDef minor-board fill:#7dc2b4,stroke:#589689;
  classDef sub-minor-board fill:#6ebbab,stroke:#4d8377;
  classDef commitees fill:#e28a69,stroke:#d65828;
  classDef sub-commitees fill:#de7953,stroke:#c04f24;

  class E-Board eboard;

  class Minor-Board minor-board;

  class Competitive sub-minor-board;
  class Community sub-minor-board;
  class PR-Diversity sub-minor-board;
  class Fundraising sub-minor-board;

  class Committees commitees;

  class Treasurer-Committees sub-commitees;
  class Team-Managers sub-commitees;
  class Community-Managers sub-commitees;
  class Broadcast sub-commitees;
  class Social-Media sub-commitees;
  class Graphics sub-commitees;
  class Diversity sub-commitees;
  class Content sub-commitees;
</div>

<script>
  window.onload = function() {
    mermaid.initialize({
      startOnLoad: false,
      securityLevel: 'loose',
      theme: "dark",
      width: '100%',
      useMaxWidth: true,
      flowchart: {
        nodeSpacing: 5,
        rankSpacing: 5,
        curve: "basis"
      }
    });

    mermaid_elm = document.getElementById('osubgc-structure');
    mermaid_elm.firstElementChild.removeAttribute('height');
    mermaid_elm.firstElementChild.removeAttribute('width');
  };
</script>