<div class="results-grid">
  <div class="gap"></div>
  <div class="empty"></div>
  <div class="dash">-</div>
  <div class="date">
    <strong>
      {{ include.game.ical_date_start | date: "%A, %B %d, %Y" }} <i class="fad fa-calendar-day fa-fw"></i>
    </strong>
  </div>

  <div class="game-info">
    <img src="{{ site.data.game[include.game.game].logo }}" class="result-img" alt="{{ site.data.game[include.game.game].name }}" data-toggle="tooltip" data-placement="top" title="{{ site.data.game[include.game.game].name }}">
      <img src="{{ site.data.league[include.game.league].logo }}" class="result-img" alt="{{ site.data.league[include.game.league].name }}" data-toggle="tooltip" data-placement="top" title="{{ site.data.league[include.game.league].name }}">
    {{ include.game.game_info }}
  </div>

  <div class="team1-logo">
    {% if include.game.teams.home.logo %}
      <img src="{{ include.game.teams.home.logo }}" class="result-img" alt="{{ include.game.teams.home.name }}">
    {% else %}
      <img src="/assets/images/osubgc-logo.svg" class="result-img" alt="{{ include.game.teams.home.name }}">
    {% endif %}
  </div>
  <div class="team1-name">{{ include.game.home_name }}</div>
  <div class="team1-score">
    {% if include.game.home_score > include.game.away_score %}
      <span class="score-win">
    {% else if include.game.home_score < include.game.away_score %}
      <span class="score-loss">
    {% else %}
      <span class="score-unknown">
    {% endif %}
    {{ include.game.home_score }}
    </span>
  </div>

  <div class="team2-logo">
  <!--
    {% if include.game.teams.away.logo %}
      <img src="{{ include.game.teams.away.logo }}" class="result-img" alt="{{ include.game.teams.away.name }}">
    {% else %}
      <img src="/assets/images/team-unknown.png" class="result-img" alt="{{ include.game.teams.away.name }}">
    {% endif %}
  -->
  </div>
  <div class="team2-name">{{ include.game.away_name }}</div>
  <div class="team2-score">
    {% if include.game.home_score < include.game.away_score %}
      <span class="score-win">
    {% else if include.game.home_score > include.game.away_score %}
      <span class="score-loss">
    {% else %}
      <span class="score-unknown">
    {% endif %}
    {{ include.game.away_score }}
  </div>

  <div class="description">{{ include.game.description | markdownify }}</div>
  <div class="media">
    {% if include.game.media_link != "" %}
      {% if include.game.media_type == "video/mp4" %}
        <div class="embed-responsive embed-responsive-{{ include.game.media-size | default: '1by1' }}">
          <video
            id="{{ include.game.game | append: '_' | append: include.game.league | slugify: 'latin' }}"
            class="video-js embed-responsive-item"
            controls
            preload="auto"
            poster="{{ include.game.media_cover | default: 'https://drive.google.com/u/0/uc?id=1zEeYlVgU_Py5Ozf-RdYpokcK7z3xjAyO&export=download' }}"
            data-setup="{}"
            playsinline
            loop
          >
            <source src="{{ include.game.media_link }}" type="{{include.game.media_type}}" />
            <p class="vjs-no-js">
              To view this video please enable JavaScript, and consider upgrading to a
              web browser that
              <a href="https://videojs.com/html5-video-support/" target="_blank" rel="noreferrer"
                >supports HTML5 video</a
              >
            </p>
          </video>
        </div>
      {% else %}
        <div class="embed-responsive embed-responsive-{{ include.game.media-size | default: '1by1' }}">
          <iframe class="embed-responsive-item" src="{{ include.game.media_link }}" frameborder="0" allowfullscreen allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"></iframe>
        </div>
      {% endif %}
    {% else %}
    
    {% endif %}
  </div>
</div>
