{% include html-head.html %}

{% include header.html %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tocbot/4.4.2/tocbot.css">
<style>
    h1::before, h2::before, h3::before, h4::before, h5::before, h6::before {
        display: block;
        content: " ";
        height: 60px;
        margin-top: -60px;
        visibility: hidden;
    }

    .toc-list {
        padding-left: 2em;
    }
    a.toc-link {
        height: unset; 
    }
</style>

<div class="container main-content">
<div class="js-toc d-print-none"></div>
{{ content }}
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/tocbot/4.4.2/tocbot.min.js"></script>

<script>
    tocbot.init({
        // Where to render the table of contents.
        tocSelector: '.js-toc',
        // Where to grab the headings to build the table of contents.
        contentSelector: '.container',
        // Which headings to grab inside of the contentSelector element.
        headingSelector: 'h1, h2, h3, h4, h5, h6',
        collapseDepth: 6,
        orderedList: false
      });
</script>

{% include footer.html %}
{% include html-footer.html %}
