{% include html-head.html %}

{% include header.html %}
{% include components/result-css.html %}

<div class="container main-content">
    {{ content }}

    <div>
        {% for result in site.data.scores reversed  %}
            {% include components/result.html game=result %}
            <br />
        {% endfor %}
    </div>
</div>

{% include footer.html %}
{% include html-footer.html %}